@use './variables.scss' as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin phone {
  @media (max-width: ($bp-md - 1px)) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $bp-md) and (max-width: ($bp-lg - 1px)) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $bp-lg) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: ($bp-lg - 1px)) {
    @content;
  }
}
